.main-back-ground{
    -fx-background-color:-main-dark;
}

.card{
    -fx-background-color:-main-medium;
    -fx-background-radius:15px;
}
.gif-holder{
    -fx-background-color:-main-medium;
}
.welcome-label{
    -fx-text-fill:-main-light;
    -fx-font-weight:bold;
    -fx-font-size:24px;
}

.shadow-pane{
   -fx-background-color: transparent;
   -fx-padding: 10px;
}

.input-field{
    -fx-text-fill:-main-medium;
    -fx-font-size: 16px;
    -fx-background-radius:5px;
    -fx-background-color: -main-light;
}
.login-button {
    -fx-background-color: -main-dark;
    -fx-font-size: 16px;
    -fx-text-fill: -main-light;
    -fx-cursor:hand;
    -fx-background-radius:5px;
}
.login-button:hover {
    -fx-background-color: derive(-main-dark,-10%);
}

.create-account-label{
    -fx-font-size:12px;
    -fx-text-fill: derive(-main-light,-20%);
}

.hyperlink {
    -fx-padding: 0.166667em;
    -fx-cursor: hand;
    -fx-content-display: LEFT;
    -fx-text-fill: derive(-main-light,10%);
    -fx-border-color: transparent;
    -fx-underline: false;

}
.hyperlink:hover {
    -fx-underline: true;
}



.check-box {
    selected-box-color: -main-light;
    box-color: -main-light;
    mark-color: white;
    -fx-text-fill: -main-light;
}

.check-box:selected > .box {
    -fx-background-color: selected-box-color;
}

.check-box > .box {
    -fx-background-color: box-color;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    -fx-background-color: -main-dark;
}