.main-back-ground{
    -fx-background-color:-main-dark;
}

.light-back-ground{
    -fx-background-color:-main-light;
}

.card{
    -fx-background-color:-main-medium;
    -fx-background-radius:15px;
}

.invitation-label{
    -fx-text-fill:-main-light;
    -fx-font-weight:bold;
    -fx-font-size:24px;
}

.invitation-headers-text-field{
    -fx-text-fill:-main-medium;
    -fx-font-size: 20px;
    -fx-background-radius:5px;
    -fx-background-color: -main-light;
    -fx-font-weight: bold;

}

.invitation-text-field{
    -fx-text-fill:-main-medium;
    -fx-font-size: 16px;
    -fx-background-radius:5px;
    -fx-background-color: -main-light;

}

.friend-icon {
    -fx-cursor:hand;
    -fx-shape: "M18.429,23.914A10.832,10.832,0,1,0,7.679,13.082,10.786,10.786,0,0,0,18.429,23.914ZM25.8,27.009H25a14.741,14.741,0,0,1-13.15,0h-.8A11.1,11.1,0,0,0,0,38.15v2.785a4.626,4.626,0,0,0,4.607,4.642H32.25a4.626,4.626,0,0,0,4.607-4.642V38.15A11.1,11.1,0,0,0,25.8,27.009Zm20.272-3.095a9.285,9.285,0,1,0-9.214-9.285A9.252,9.252,0,0,0,46.072,23.914Zm4.607,3.095h-.365a12.018,12.018,0,0,1-8.485,0h-.365A10.6,10.6,0,0,0,36.118,28.5a14.212,14.212,0,0,1,3.811,9.652v3.714c0,.213-.048.416-.058.619H56.822a4.626,4.626,0,0,0,4.607-4.642,10.786,10.786,0,0,0-10.75-10.832Z";
    -fx-background-color:-main-light;
}

.accept-icon {
    -fx-cursor:hand;
    -fx-shape: "M28.46,42.29A2,2,0,0,1,27,41.71l-9.5-9.5a2,2,0,0,1,2.83-2.83l8.09,8.09L43.63,22.29a2,2,0,1,1,2.83,2.83L29.87,41.71A2,2,0,0,1,28.46,42.29Z";
    -fx-background-color: #00FF00;
}
.refuse-icon {
    -fx-cursor:hand;
    -fx-shape: "M114,100l49-49a9.9,9.9,0,0,0-14-14L100,86,51,37A9.9,9.9,0,0,0,37,51l49,49L37,149a9.9,9.9,0,0,0,14,14l49-49,49,49a9.9,9.9,0,0,0,14-14Z";
    -fx-background-color: #FF0000;
}
.invitation-button {
    -fx-background-color: -main-dark;
    -fx-font-size: 16px;
    -fx-text-fill: -main-light;
    -fx-cursor:hand;
    -fx-background-radius:5px;
}

