.dialog-pane {
    -fx-background-color: derive(#476072,10%);
    -fx-padding: 20;
}

.dialog-pane:header .header-panel {
    -fx-padding: 0.833em; /* 10px */
    -fx-background-color: derive(#476072,10%);
    -fx-background-insets: 0, 0 0 1 0;
}

.dialog-pane > .content.label {
    -fx-alignment: top-left;
    -fx-padding: 1.333em 0.833em 1.333em 0.833em;
    -fx-font-size: 1.2em;
    -fx-wrap-text: true;
    -fx-text-fill:#EEEEEE;
}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 1.5em;
    -fx-wrap-text: true;
    -fx-text-fill:#EEEEEE;
    -fx-font-weight: bold;
}

.dialog-pane .button {
   -fx-font-size: 14;
   -fx-text-fill: #EEEE;
   -fx-background-color: #334257;
   }


