.main-back-ground{
    -fx-background-color:-main-dark;
}

.card{
    -fx-background-color:-main-medium;
    -fx-background-radius:15px;
}

.register-label{
    -fx-text-fill:-main-light;
    -fx-font-weight:bold;
    -fx-font-size:24px;
}
.input-field{
    -fx-text-fill:-main-medium;
    -fx-font-size: 16px;
    -fx-background-radius:5px;
    -fx-background-color: -main-light;
}

.next-button {
    -fx-background-color: -main-dark;
    -fx-font-size: 16px;
    -fx-text-fill: -main-light;
    -fx-cursor:hand;
    -fx-background-radius:5px;
}
.next-button:hover {
    -fx-background-color: derive(-main-dark,-10%);
}

.previous-button {
    -fx-background-color: -main-dark;
    -fx-font-size: 16px;
    -fx-text-fill: -main-light;
    -fx-cursor:hand;
    -fx-background-radius:5px;
}
.previous-button:hover {
    -fx-background-color: derive(-main-dark,-10%);
}

.login-label{
    -fx-font-size:12px;
    -fx-text-fill: derive(-main-light,-20%);
}

.hyperlink {
    -fx-padding: 0.166667em;
    -fx-cursor: hand;
    -fx-content-display: LEFT;
    -fx-text-fill: derive(-main-light,10%);
    -fx-border-color: transparent;
    -fx-underline: false;

}
.hyperlink:hover {
    -fx-underline: true;
}

.date-picker .text-field {
    -fx-control-inner-background: -main-light;
    -fx-background-color:  -main-light;
}
.date-picker .arrow-button {
	-fx-background-color: -main-dark;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: derive(-main-dark,-10%);
}
.date-picker .arrow-button .arrow {
	-fx-background-color: -main-light;
}
.date-picker .cell {
	-fx-background-color: -main-light;
}
.date-picker .cell:hover {
	-fx-background-color: -main-medium;
}
.date-picker .cell:focused {
	-fx-background-color: -main-medium;
}
.date-picker .selected {
	-fx-background-color: -main-dark;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: -main-dark;
	-fx-text-fill: -main-light;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -main-dark;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: -main-light;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: -main-medium;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: -main-light;
}



