.card{
    -fx-background-color:-main-medium;
    -fx-background-radius:15px;

}
.shadow-pane{
   -fx-background-color: transparent;
   -fx-padding: 10px;
}

.add-label{
    -fx-text-fill:-main-light;
    -fx-font-weight:bold;
    -fx-font-size:24px;
}

.input-field{
    -fx-text-fill:-main-medium;
    -fx-font-size: 16px;
    -fx-background-radius:5px;
    -fx-background-color: -main-light;
}
.add-button {
    -fx-background-color: -main-medium;
    -fx-font-size: 16px;
    -fx-text-fill: -main-light;
    -fx-cursor:hand;
    -fx-background-radius:5px;
}
.add-button:hover {
    -fx-background-color: derive(-main-dark,20%);
}

.create-account-label{
    -fx-font-size:12px;
    -fx-text-fill: derive(-main-light,-20%);
}

.hyperlink {
    -fx-padding: 0.166667em;
    -fx-cursor: hand;
    -fx-content-display: LEFT;
    -fx-text-fill: derive(-main-light,10%);
    -fx-border-color: transparent;
    -fx-underline: false;

}
.hyperlink:hover {
    -fx-underline: true;
}

.adding-box{
    -fx-background-color: -main-dark;
    -fx-background-radius:0px 0px 15px 15px;
}
.add-icon{
    -fx-shape:"M28.367,24.992A10.246,10.246,0,1,0,18.121,14.746,10.276,10.276,0,0,0,28.367,24.992Zm0,5.123c-6.788,0-20.492,3.458-20.492,10.246v5.123H48.859V40.361C48.859,33.573,35.155,30.115,28.367,30.115ZM11.371,18.081V11.25H7.956v6.831H1.125V21.5H7.956v6.831h3.415V21.5H18.2V18.081Z";
    -fx-background-color: -main-light;
}

.transparent-color{
    -fx-background-color:rgba(0,0,0,0);
}
.input-field-holder{
    -fx-background-color:-main-medium;
}

.custom-list-view {
    -fx-background-color: -main-medium;
    -fx-border-insets: 0, 0, 0, 0;
    -fx-background-insets: 0, 0, 0, 0;
}

.custom-list-view .list-cell {
    -fx-background-color: -main-medium;
    -fx-border-insets: 0, 0, 0, 0;
}

.custom-list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-padding: -20;
}